/* Footer base styles */
footer {
    color: #ffffff; /* White text for readability */
    padding: 40px 20px;
    display: flex;
    height: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url(assets/Group\ 35298.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footer-left, .footer-right {
    flex: 1 1 300px; /* Flex items take up 100% width on mobile and 300px minimum width on larger screens */
    margin-bottom: 20px;
}

/* Left section styling */
.footer-left {
    font-size: 14px;
}

.footer-left p {
    margin-bottom: 10px;
}

.footer-left #footer-sign-up {
    background: white;
    border-radius: 34px;
    padding: 10px 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


#footer-sign-up p{
    margin-top: 10px;
    margin-left: 10px;
}

#footer-sign-up i{
    padding: 10px;
    background-color: #FDBB39;
    transform: rotate(-30deg);
    border-radius: 100%;
    font-size: 14px;
    color: white;
    margin-left: 16px;
}

.footer-left button:hover {
    background-color: #f5a142; /* Slightly lighter orange on hover */
}

/* Right section styling */
.footer-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-right h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: white;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin-bottom: 10px;
}

.footer-right ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-right ul li a:hover {
    color: #ED8E1C; /* Change text color on hover */
}

/* Follow Us section icons */
.follow-us ul {
    display: flex;
}

.follow-us ul li {
    margin-right: 15px;
}

.follow-us ul li a {
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.follow-us ul li a:hover {
    color: #ED8E1C;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-left, .footer-right {
        flex: 1 1 100%; /* Stack the footer sections vertically on mobile */
    }

    .footer-right {
        justify-content: space-around;
        flex-direction: column;
    }

    footer{
        height: 100%;
        background: #ED8E1C;
    }
}
