.navbar {
    background-color: black;
    padding: 1.5rem 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.navbar-brand {
    display: flex;
    align-items: center;
    color: white !important;
    font-size: 1.2rem;
    font-weight: 600;
    font-size: 32px;
}
.navbar-brand img {
    margin-right: 10px;
}
.navbar .btn {
    margin-left: 10px;
}
.btn-outline-light {
    border-color: white;
    color: white;
}
.btn-warning {
    background-color: #ffa000;
    border-color: #ffa000;
}