@font-face {
    font-family: 'General Sans';
    src: url('../font/GeneralSans-Bold.otf') format('woff');
    font-weight: 700;
}


@font-face {
    font-family: 'General Sans';
    src: url('../font/GeneralSans-Semibold.otf') format('woff');
    font-weight: 600;
}


@font-face {
    font-family: 'General Sans';
    src: url('../font/GeneralSans-Medium.otf') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'General Sans';
    src: url('../font/GeneralSans-regular.otf') format('woff');
    font-weight: 400;
}



@font-face {
    font-family: 'General Sans';
    src: url('..font/GeneralSans-regular.otf') format('woff');
    font-weight: 400;
}


h1, h2, h3, h4, h5, h6, p, a,
input, select, textarea, ul, li, button,
::placeholder{
    font-family: 'General Sans';
    margin: 0px;
}



body {
    background-color: black;
    color: white;
}

.custom-container{
    width: 100%;
}

.section-title {
    background-color: #ffc107;
    color: #343a40;
    padding: 10px;
    margin-top: 10px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-tabs{
    margin-left: 10px;
}


.tab-pane {
    margin-left: 10px;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}
/* sidebar */

.sidebar{
    padding: 0 !important;
    margin: 0;
}
.sidebar-section {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    margin-bottom: 10px;
}
.sidebar-section-header {
    background-color: #e9ecef;
    padding: 10px 15px;
    border-bottom: 1px solid #dee2e6;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-section-content {
    padding: 10px 15px;
}
.sidebar-section-header i {
    transition: transform 0.3s ease;
}
.sidebar-section-header.collapsed i {
    transform: rotate(-90deg);
}

.badge{
    color: black;
    margin-left: 20px;
    font-weight: lighter;
}

.accordion-item{
    border-radius: 0 !important;
}

.list-group-item-title{
    font-weight: 500;
    font-size: 18px;
}
.accordion-texts p{
   font-size: 13px;
   padding: 0;
   font-weight: 300;
}
.accordion-header{
    display: flex;
     align-items: center;
    justify-content: center;
}
.accordion-button{
    display: flex;
    justify-content: center;
}

.accordion-button h1{
    font-size: 20px;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color:white !important;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.list-group-item{
    border: none;
}

#showMoreBtn{
    color: #FDBB39;
}

.orange-bullets {
    list-style: none; /* Removes the default list-style */
    padding-left: 0;  /* Removes padding to align with the container */
}

.orange-bullets li::before {
    content: "•";    /* Unicode character for the bullet symbol */
    color: #ED8E1C;  /* Set the bullet color to orange */
    font-size: 20px; /* Adjust size to fit your design */
    padding-right: 10px; /* Space between the bullet and the text */
}

/* Ensures text color is not affected by bullet color */
.orange-bullets li {
    color: white; /* Set text color here as needed */
}


.list-group-item:hover{
    background-color: #D1D7DC;
}

.course-content {
    top: 0; /* Align it to the top of the viewport */
    right: 0; /* Keep it on the right side of the screen, adjust as needed */
    height: 100vh; /* 100% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px;
    z-index: 999; /* Ensure it stays above other content */
    padding: 0;
}
.mt-3, .mb-4 {
    margin: 0;
}

@media (min-width: 992px) {
    .col-lg-4 {
        padding: 0;
    }

    .col-lg-8 {
        padding: 0;
    }
}